
@{
    ViewBag.Title = "ArtXDeposito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Mantemiento</li>
    <li class="breadcrumb-item"><a href="@Url.Action("Deposito", "Mantenedor")">Depósitos</a></li>
    <li class="breadcrumb-item active">Artículos por depósito</li>
</ol>


<div class="card">
    <div class="card-header">

        <i class="fas fa-boxes me-1"></i> Lista de artículos por depósito
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModalAgregar()">Agregar artículo</button>
            </div>
        </div>

        <hr />
        <script>

            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var IdDepositoURL = urlParams.get('idDeposito');
            var NomDepositoURL = urlParams.get('NomDeposito');
            var NomSedeURL = urlParams.get('NomSede');

            var resultado = "Se muestran los artículos de " + NomSedeURL + " de la sede " + NomDepositoURL;
            document.write("<h6 class='alert alert-warning'>Se muestran los artículos de " + NomSedeURL + " de la sede " + NomDepositoURL + "</h6>");
        </script>
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>StockMinimo</th>
                    <th>StockMaximo</th>
                    <th>PuntoDePedido</th>
                    <th>Activo</th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>



<!-- Modal editar-->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Artículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />

                <form id="contenedor" class="row">

                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" id="txtstock" name="stock" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Stock mínimo</label>
                            <input type="number" class="form-control" id="txtstockminimo" name="stock" />
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label class="form-label">Stock máximo</label>
                            <input type="number" class="form-control" id="txtstockmaximo" name="stockmaximo" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Punto de pedido</label>
                            <input type="number" class="form-control" id="txtpuntodepedido" name="stock" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            <label class="form-label">Activo</label>
                            <select id="cboactivo" class="form-select">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </form>

                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal agregar-->
<div class="modal fade" id="FormModalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Añadir artículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <table id="tablaAgregar" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Categoría</th>
                            <th>Proveedor</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal transferir-->
<div class="modal fade" id="FormModalTransferir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Transferir artículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtidartxdep" type="hidden" value="0" />

                <div class="row g-2">

                    <div class="col-sm-12">
                        <h6 class='alert alert-warning'>
                            Estás por transferir un artículo de este depósito a otro. Seleccioná a continuación el destino y cantidad a transferir.
                        </h6>
                    </div>

                    <div class="col-sm-6">
                        <div class="mb-6">
                            <label for="cbodeposito" class="form-label">Depósito de destino</label>
                            <select id="cbodeposito" class="form-select">
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="mb-6">
                            <label for="cbocantidad" class="form-label">Cantidad a transferir</label>
                            <select id="cbocantidad" class="form-select">
                            </select>
                        </div>
                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnguardar" onclick="Transferir()">Transferir</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#collapseStock").click();
        document.getElementById("menudeposito").style.fontWeight = "bold";
        document.getElementById("menudeposito").style.color = "#c2c2c2";
        document.getElementById("menudeposito").style.color = "#c2c2c2";

        ListarDeposito();
        var tabladata;
        var tabladataAgregar;
        var filaSeleccionada;

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var IdDepositoURL = urlParams.get('idDeposito');
        var NomDepositoURL = urlParams.get('NomDeposito');
        var NomSedeURL = urlParams.get('NomSede');

        tabladataAgregar = $("#tablaAgregar").DataTable({
            responsive: true,
            ordering: true,
            "ajax": {
                url: '@Url.Action("ListarProductosActivos", "Mantenedor")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            },
            "columns": [
                {"data":"Nombre"},
                { "data": "Descripcion" },
                {
                    "data": "oMarca", "render": function (data) {
                      return data.Descripcion
                    }
                },
                {
                    "data": "oCategoria", "render": function (data) {
                        return data.Descripcion
                    }
                },
                {
                    "data": "oProveedor", "render": function (data) {
                        return data.Nombres
                    }
                },
                { "data": "Precio" },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-agregar"><i class="fas fa-plus"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "50px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        })

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: true,
            "ajax": {
                url: '@Url.Action("ListarProductoXDeposito", "Mantenedor")',
                type: "GET",
                data: { id: IdDepositoURL },
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            },
            "columns": [
                { "data": "Nombre"},
                {
                    "data": "oMarca", "render": function (data) {
                      return data.Descripcion
                    }
                },
                {
                    "data": "oCategoria", "render": function (data) {
                        return data.Descripcion
                    }
                },
                { "data": "Precio" },
                { "data": "Stock", "visible": true },
                { "data": "StockMinimo", "visible": true },
                { "data": "StockMaximo", "visible": true },
                { "data": "PuntoDePedido", "visible": true },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Sí</span>'
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-transferir"><i class="fas fa-arrow-alt-circle-up"></i></button>' +
                        '<button type="button" class="btn btn-primary btn-sm ms-2 btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "100px"
                }


            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        });

        jQuery.validator.addMethod("stock", function (value, element) {
            return this.optional(element) || /^\D+$/i.test(value);
        }, "El stock debe ser un número mayor o igual a cero");


        $("#contenedor").validate({
            rules: {
                stock: {
                    required: true
                },
                stockminimo: {
                    required: true
                },
                stockmaximo: {
                    required: true
                },
                puntodepedido: {
                    required: true
                }
            },
            messages: {
                stock: { required: "El campo stock es obligatorio"},
                stockminimo: { required: "El campo stock mínimo es obligatorio"},
                stockmaximo: { required: "El campo stock  máximo es obligario"},
                puntodepedido: { required: "El campo stock  máximo es obligario" }
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        })


        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtstock").val("");
            $("#txtstockminimo").val("");
            $("#txtstockmaximo").val("");
            $("#txtpuntodepedido").val("");
            $("#cboactivo").val(1);

            $("#mensajeError").hide();

            if (json != null) {

                $("#txtid").val(json.IdProducto);
                $("#txtstock").val(json.Stock);
                $("#txtstockminimo").val(json.StockMinimo);
                $("#txtstockmaximo").val(json.StockMaximo);
                $("#txtpuntodepedido").val(json.PuntoDePedido);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);

            }

            $("#FormModal").modal("show");
        }

        function abrirModalAgregar() {

            $("#FormModalAgregar").modal("show");
        }

        function abrirModalVacio(json) {

            $("#txtid").val(json.IdProducto);
            $("#txtstock").val("");
            $("#txtstockminimo").val("");
            $("#txtstockmaximo").val("");
            $("#txtpuntodepedido").val("");
            $("#cboactivo").val(1);

            $("#mensajeError").hide();

            $("#FormModal").modal("show");
        }

        function abrirModalTransferir(json) {

            $("#txtidartxdep").val(json.IdProducto);

            $("#FormModalTransferir").modal("show");
        }

        $("#tabla").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data =  tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })

        $("#tablaAgregar").on("click", '.btn-agregar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladataAgregar.row(filaSeleccionada).data();

            $("#FormModalAgregar").modal("hide");

            abrirModalVacio(data)

        })

        $("#tabla").on("click", '.btn-transferir', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();

            $("#cbolocalidad").html("");

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbocantidad");

            for (var i = data.Stock; i > 0; i--)
                $("<option>").attr({ "value": i}).text(i).appendTo("#cbocantidad");

            abrirModalTransferir(data)

        })

        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var productoseleccionado = $(this).closest("tr");

            var data = tabladata.row(productoseleccionado).data();

            swal({
                title: "¿Estás seguro?",
                text: "¿Desea eliminar el producto?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                 jQuery.ajax({
                    url: '@Url.Action("EliminarProductoXDeposito", "Mantenedor")',
                    type: "POST",
                     data: JSON.stringify({ idart: data.IdProducto, iddep: IdDepositoURL  }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {


                        if (data.resultado) {

                            location.reload();
                        } else {

                            swal("No se pudo eliminar", data.mensaje, "error")
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });

            });


            console.log(data);

        })

        function ListarDeposito() {

            $("<option>").attr({ "value": "00", "disabled":"disabled", "selected":"true" }).text("Seleccionar").appendTo("#cbodeposito")

            jQuery.ajax({
                url: '@Url.Action("ObtenerDepositoTransferir", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ IdDeposito: IdDepositoURL }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {

                        $.each(data.lista, function (i, item) {

                            $("<option>").attr({ "value": item.IdDeposito }).text(item.Descripcion).appendTo("#cbodeposito")
                        })
                    }
                }
            })

        }

        function Transferir() {

           jQuery.ajax({
                url: '@Url.Action("TransferirArticulo", "Mantenedor")',
                type: "POST",
               data: JSON.stringify({ IdProducto: $('#txtidartxdep').val(), IdDepositoOrigen: IdDepositoURL, IdDepositoDestino: $('#cbodeposito').val(), Cantidad: $('#cbocantidad').val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
               success: function (data) {

                   if (data.resultado) {
                       swal({
                           title: "El artículo se transifrió con éxito",
                           type: "success",
                           showCancelButton: false,
                           confirmButtonClass: "btn-primary",
                           confirmButtonText: "Aceptar",
                           closeOnConfirm: true
                       },
                           location.reload())
                   } else {

                       swal("No se pudo eliminar", data.mensaje, "error")
                   }
               },
               error: function (error) {
                   console.log(error)
               }

            });

        }

        function Guardar() {

            var ArtXDeposito = {
                Stock: $("#txtstock").val(),
                StockMinimo: $("#txtstockminimo").val(),
                StockMaximo: $("#txtstockmaximo").val(),
                PuntoDePedido: $("#txtpuntodepedido").val(),
                oProducto: {
                    IdProducto: $("#txtid").val()
                },
                oDeposito: {
                    IdDeposito: IdDepositoURL
                }, 
                Activo: $("#cboactivo").val() == 1 ? true : false,
            }


           jQuery.ajax({
                url: '@Url.Action("GuardarArtXDeposito", "Mantenedor")',
                type: "POST",
               data: JSON.stringify({ objeto: ArtXDeposito}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
               success: function (data) {

                   $(".modal-body").LoadingOverlay("hide");

                    //USUARIO NUEVO
                   if (Producto.IdProducto == 0) {

                        if (data.resultado != 0) {

                            Producto.IdProducto = data.resultado;
                            tabladata.row.add(ArtXDeposito).draw(false);
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                    //USUARIO EDITAR
                    else {

                        if (data.resultado) {

                            tabladata.row(filaSeleccionada).data(Producto).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
               error: function (error) {

                   $(".modal-body").LoadingOverlay("hide");
                   $("#mensajeError").text("Error Ajax");
                   $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });


        }



    </script>


}



