
@{
    ViewBag.Title = "Movimientos de stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Stock</li>
    <li class="breadcrumb-item active">Movimientos</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-truck me-1"></i> Lista de movimientos de stock
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="abrirModalNuevo()" id="btnregistrar">Registar desde cero</button>
                <button type="button" class="btn btn-primary" onclick="abrirModalComprobante()">Registrar en base a comprobante</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Motivo</th>
                    <th>Depósito</th>
                    <th>Sede</th>
                    <th>Fecha</th>
                    <th>Nro. factura</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!--Modal ver-->
<div class="modal fade" id="FormModalVer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Detalle de la factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tablaVer" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CerrarVer()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal nuevo -->
<div class="modal fade" id="FormModalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Registrar movimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    <div class="mb-1">
                        <div class="mb-3">
                            <label class="form-label">Motivo de movimiento</label>
                            <select id="cbomotivo" class="form-select">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tipo de movimiento</label>
                            <select id="cboingreso" class="form-select">
                                <option value="1">Ingreso</option>
                                <option value="0">Egreso</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="cbosede" class="form-label">Sede</label>
                            <select id="cbosede" class="form-select">
                            </select>
                        </div>
                        <div class="mb-0">
                            <label for="cbodeposito" class="form-label">Deposito</label>
                            <select id="cbodeposito" class="form-select">
                            </select>
                        </div>
                    </div>
                    </div>

                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeErrorNuevo" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CancelarNuevo()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnguardar" onclick="SiguienteNuevo()">Siguiente</button>
            </div>
        </div>
    </div>
</div>

<!--Modal ingreso-->
<div class="modal fade" id="FormModalIngreso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Registar movimiento de ingreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class='alert alert-warning'>
                    A continuación se visualizan los productos cargados en el sistema.
                </h6>
                <table id="tablaIngreso" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <h6 class='alert alert-warning mt-5'>
                    En la tabla de abajo se cargarán los productos que selecciones de la taba superior, y que luego serán transferidos al depósito seleccionado.
                </h6>
                <table id="tablaProductoIng" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeErrorIngreso" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CerrarIngreso()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnguardar" onclick="RegistrarIngreso()">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal egreso-->
<div class="modal fade" id="FormModalEgreso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Registar movimiento de egreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class='alert alert-warning'>
                    A continuación se visualizan los productos del depósito seleccionado.
                </h6>
                <table id="tablaEgreso" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <h6 class='alert alert-warning mt-5'>
                    En la tabla de abajo se cargará la cantidad de productos que selecciones de la taba superior que luego serán quitados del depósito seleccionado.
                </h6>
                <table id="tablaProductoEg" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeErrorEgreso" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CerrarEgreso()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnguardar" onclick="RegistrarEgreso()">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal producto-->
<div class="modal fade" id="FormModalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Datos del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtidprod" type="hidden" value="0" />
                <input id="txtnomprod" type="hidden" value="" />

                <div class="row mt-2 justify-content-center">

                    <div class="col-sm-6">
                        <label for="txtcantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="txtcantidad" autocomplete="off" min="1">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtprecio" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="txtprecio" autocomplete="off">
                    </div>


                </div>

                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeErrorProducto" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CerrarCantidad()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnguardar" onclick="AceptarCantidad()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal comprobante -->
<div class="modal fade" id="FormModalComprobante" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Registrar movimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row g-2">

                    <div class="mb-1">
                        <div class="mb-3">
                            <label class="form-label">Motivo de movimiento</label>
                            <select id="cbomotivo2" class="form-select">
                            </select>
                        </div>
                        <div class="mb-0">
                            <label class="form-label">Tipo de movimiento</label>
                            <select id="cboingreso2" class="form-select">
                                <option value="1">Ingreso</option>
                                <option value="0">Egreso</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeErrorComprobante" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CerrarComp()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnguardar" onclick="SiguienteComprobante()">Siguiente</button>
            </div>
        </div>
    </div>
</div>

<!--Modal vincular comprobante-->
<div class="modal fade" id="FormModalVincular" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Selección de comprobante [FormModalVincular]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtiddeposito" type="hidden" value="0" />
                <input id="txtidcomprobante" type="hidden" value="0" />
                <table id="tablaVincular" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Letra</th>
                            <th>Proveedor</th>
                            <th>Sede</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeErrorVincular" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CerrarComp()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $("#collapseStock").click();
        document.getElementById("menumovimientos").style.fontWeight = "bold";
        document.getElementById("menumovimientos").style.color = "#c2c2c2";
        document.getElementById("iconomovimientos").style.color = "#c2c2c2";

        var tabladata;
        var tabladataIngeso;
        var tabladataEgreso;
        var tabladataVincular;
        var tabladataVer;
        var tabladataProductoIng;
        var tabladataProductoEg;
        var filaSeleccionada;

        jQuery(document).ready(function () {
            jQuery("#txtcantidad").on('input', function (evt) {
                jQuery(this).val(jQuery(this).val().replace(/^0[0-9]+/g, ''));
            });
            jQuery("#txtprecio").on('input', function (evt) {
                jQuery(this).val(jQuery(this).val().replace(/^0[0-9]+/g, ''));
            });

            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var NuevoURL = urlParams.get('nuevo');
            if (NuevoURL == 1) {
                $('#btnregistrar').click()
            }
        });

        //CARGAS EXTRAS

        $("<option>").attr({ "value": "0", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbomotivo")
        jQuery.ajax({
            url: '@Url.Action("ListarMotivos", "Home")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $.each(data.data, function (index, item) {

                    $("<option>").attr({ "value": item.IdMotivoMovimiento }).text(item.Descripcion).appendTo("#cbomotivo");
                })
            },
            error: function (error) {
                console.log(error)
            }
        });

        $("<option>").attr({ "value": "0", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbomotivo2")
        jQuery.ajax({
            url: '@Url.Action("ListarMotivos", "Home")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $.each(data.data, function (index, item) {

                    $("<option>").attr({ "value": item.IdMotivoMovimiento }).text(item.Descripcion).appendTo("#cbomotivo2");
                })
            },
            error: function (error) {
                console.log(error)
            }
        });

        $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbosede")
            jQuery.ajax({
                url: '@Url.Action("ObtenerSedesActivas", "Mantenedor")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {

                        $.each(data.lista, function (i, item) {

                            $("<option>").attr({ "value": item.IdSede }).text(item.Nombre).appendTo("#cbosede")
                        })
                        ListarDepositos();
                    }
                }
            })

        $("#cbosede").on("change", function () {
            ListarDepositos();
        })

        function ListarDepositos() {
            $("#cbodeposito").html("")
            $("<option>").attr({ "value": "0", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbodeposito")

            jQuery.ajax({
                url: '@Url.Action("ObtenerDepositosActivos", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ IdSede: $("#cbosede option:selected").val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {

                        $.each(data.lista, function (i, item) {

                            $("<option>").attr({ "value": item.IdDeposito }).text(item.Descripcion).appendTo("#cbodeposito")
                        })
                    }
                }
            })
        }

        //LISTAR MOVIMIENTOS

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: true,
            "ajax": {
                url: '@Url.Action("ListarMovimientos", "Mantenedor")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            },
            "columns": [
                { "data": "Numero" },
                {
                    "data": "oMotivoMovimiento", "render": function (data) {
                        return data.Descripcion
                    }
                },
                {
                    "data": "oDeposito", "render": function (data) {
                        return data.Descripcion
                    }
                },
                {
                    "data": "oDeposito", "render": function (data) {
                        return data.oSede.Nombre
                    }
                },
                { "data": "Fecha" },
                {
                    "data": "oComprobante", "render": function (data) {
                        if (parseInt(data.IdComprobante) == 0) {
                            return 'No vinculado'
                        } else {
                            return data.IdComprobante
                        }
                    }
                },
                {
                    "data": "Ingreso", "render": function (valor) {
                        if (valor == 1) {
                            return '<span class="badge bg-success">Ingreso</span>'
                        } else {
                            return '<span class="badge bg-danger">Egreso</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-ver"><i class="fas fa-eye"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "50px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }

        });

        //VER MOVIMIENTOS
        $("#tabla tbody").on("click", '.btn-ver', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();

            tabladataVer = $("#tablaVer").DataTable({
                responsive: true,
                ordering: true,
                "ajax": {
                    url: '@Url.Action("ListarProductosXMovimiento", "Mantenedor")',
                    type: "GET",
                    data: { id: data.IdMovimiento},
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                },
                "columns": [
                    {
                        "data": "oProducto", "render": function (data) {
                            return data.Nombre
                        }
                    },
                    {
                        "data": "oProducto", "render": function (data) {
                            return data.Descripcion
                        }
                    },
                    { "data": "Precio" },
                    { "data": "Cantidad" }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }

            });

            $("#FormModalVer").modal("show");

        })

        //REGISTRO DESDE CERO


        //REGISTRO CON COMPROBANTE

        function abrirModalComprobante() {

            $("#mensajeErrorComprobante").hide();
            $("#FormModalComprobante").modal("show");

        }

        function SiguienteComprobante() {
            $("#mensajeErrorComprobante").hide();
            if ($("#cbomotivo2").val() >= 1) {
                cargarTablaVincular();
                $("#FormModalComprobante").modal("hide");
                $("#mensajeErrorVincular").hide();
                $("#FormModalVincular").modal("show");

            }
            else {
                $("#mensajeErrorComprobante").text("Seleccione motivo");
                $("#mensajeErrorComprobante").show();
            }
        }

        function cargarTablaVincular() {
            if (parseInt($('#cboingreso2').val()) == 1) {

                tabladataVincular = $("#tablaVincular").DataTable({
                    responsive: true,
                    ordering: true,
                    "ajax": {
                        url: '@Url.Action("ListarComprobantesCompra", "Compras")',
                        type: "GET",
                        data: { tipo: 1 },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    },
                    "columns": [
                        { "data": "Numero" },
                        { "data": "Letra" },
                        {
                            "data": "oProveedor", "render": function (data) {
                                return data.Nombres
                            }
                        },
                        {
                            "data": "oDeposito", "render": function (data) {
                                return data.oSede.Nombre
                            }
                        },
                        { "data": "Fecha" },
                        { "data": "Total" },
                        {
                            "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-ver"><i class="fas fa-eye"></i></button>' +
                                '<button type="button" class="btn btn-primary btn-sm ms-2 btn-agregar"><i class="fas fa-plus"></i></button>',
                            "orderable": false,
                            "searchable": false,
                            "width": "50px"
                        }

                    ],
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                    }

                });
            } else {

                tabladataVincular = $("#tablaVincular").DataTable({
                    responsive: true,
                    ordering: true,
                    "ajax": {
                        url: '@Url.Action("ListarComprobantesVenta", "Ventas")',
                        type: "GET",
                        data: { tipo: 1 },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8"
                    },
                    "columns": [
                        { "data": "Numero" },
                        { "data": "Letra" },
                        {
                            "data": "oCliente", "render": function (data) {
                                return data.Nombres
                            }
                        },
                        {
                            "data": "oDeposito", "render": function (data) {
                                return data.oSede.Nombre
                            }
                        },
                        { "data": "Fecha" },
                        { "data": "Total" },
                        {
                            "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-ver"><i class="fas fa-eye"></i></button>' +
                                '<button type="button" class="btn btn-primary btn-sm ms-2 btn-agregar"><i class="fas fa-plus"></i></button>',
                            "orderable": false,
                            "searchable": false,
                            "width": "100px"
                        }

                    ],
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                    }

                });
            }
        }

        function CerrarComp() {
            $("#cbomotivo2").val($("#cbomotivo2 option:first").val());
            tabladataVincular.destroy();
        }

        $("#tablaVincular").on("click", '.btn-agregar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladataVincular.row(filaSeleccionada).data();

            registrarComp(data)

        })

        function registrarComp(json) {

            swal({
                    title: "Estás por registrar una nueva factura",
                    text: "Verificá los datos ingresados. Estos no podrán ser modificados luego",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: true
                },
                    function () {

                        var Comprobante = {
                            IdComprobante: json.IdComprobante,
                            Tipo: 1,
                            oDeposito: {
                                IdDeposito: json.oDeposito.IdDeposito
                            }
                        };

                        jQuery.ajax({
                            url: '@Url.Action("RegistrarMovimientoComprobante", "Mantenedor")',
                            type: "POST",
                            data: JSON.stringify({ comprobante: Comprobante, mot: $("#cbomotivo2").val(), ingreso: $("#cboingreso2").val() }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                                $(".modal-body").LoadingOverlay("hide");

                                if (data.resultado != 0) {

                                    location.reload();
                                    $("#FormModalVincular").modal("hide");

                                } else {
                                    $("#mensajeErrorVincular").text(data.mensaje);
                                    $("#mensajeErrorVincular").show();
                                }
                            },
                            error: function (error) {

                                $(".modal-body").LoadingOverlay("hide");
                                $("#mensajeErrorVincular").text("Error Ajax");
                                $("#mensajeErrorVincular").show();
                            },
                            beforeSend: function () {
                                $(".modal-body").LoadingOverlay("show", {
                                    imageResizeFactor: 2,
                                    text: "Cargando...",
                                    size: 14
                                })
                            }
                        });

                        //tabladataVincular.destroy();
                        //$("#cbomotivo2").val($("#cbomediopago option:first").val());
                        //$("#cboingreso2").val($("#cboproveedor option:first").val());

                    });
        }



        //fin

        function cargarTabladataProductoEg() {
            tabladataProductoEg = $("#tablaProductoEg").DataTable({
                responsive: true,
                ordering: true,
                "ajax": {
                    url: '@Url.Action("ListarProductosVacio", "Mantenedor")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "Nombre" },
                    { "data": "Cantidad" },
                    { "data": "Precio" },
                    {
                        "defaultContent":
                            '<button type="button" class="btn btn-danger btn-sm btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "20px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }

            });
        }

        function cargarTabladataProductoIng() {
            tabladataProductoIng = $("#tablaProductoIng").DataTable({
                responsive: true,
                ordering: true,
                "ajax": {
                    url: '@Url.Action("ListarProductosVacio", "Mantenedor")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "Nombre" },
                    { "data": "Cantidad" },
                    { "data": "Precio" },
                    {
                        "defaultContent":
                            '<button type="button" class="btn btn-danger btn-sm btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "20px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }

            });
        }

        function cargarTablaEgreso() {
            tabladataEgreso = $("#tablaEgreso").DataTable({
                responsive: true,
                ordering: true,
                "ajax": {
                    url: '@Url.Action("ListarProductoXDeposito", "Mantenedor")',
                    type: "GET",
                    data: { id: $("#cbodeposito").val() },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                },
                "columns": [
                    { "data": "Nombre" },
                    { "data": "Descripcion" },
                    {
                        "data": "oMarca", "render": function (data) {
                            return data.Descripcion
                        }
                    },
                    {
                        "data": "oCategoria", "render": function (data) {
                            return data.Descripcion
                        }
                    },
                    { "data": "Precio" },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-agregar"><i class="fas fa-plus"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "50px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }

            });
        }

        function cargarTablaIngreso() {
            tabladataEgreso = $("#tablaEgreso").DataTable({
                responsive: true,
                ordering: true,
                "ajax": {
                    url: '@Url.Action("ListarProductos", "Mantenedor")',
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                },
                "columns": [
                    { "data": "Nombre" },
                    { "data": "Descripcion" },
                    {
                        "data": "oMarca", "render": function (data) {
                            return data.Descripcion
                        }
                    },
                    {
                        "data": "oCategoria", "render": function (data) {
                            return data.Descripcion
                        }
                    },
                    { "data": "Precio" },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-agregar"><i class="fas fa-plus"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "50px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }

            });
        }

        function abrirModalNuevo() {

            $("#mensajeErrorNuevo").hide();
            $("#FormModalNuevo").modal("show");

        }


        $("#tablaProductoIng tbody").on("click", '.btn-eliminar', function () {

            tabladataProducto.row($(this).closest("tr")).remove().draw();

        })

        $("#tablaProductoEg tbody").on("click", '.btn-eliminar', function () {

            tabladataProducto.row($(this).closest("tr")).remove().draw();

        })

        $("#tablaIngreso").on("click", '.btn-agregar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladataIngreso.row(filaSeleccionada).data();

            abrirModalProducto(data);

            $("#FormModalIngreso").modal("hide");

        })

        $("#tablaEgreso").on("click", '.btn-agregar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladataEgreso.row(filaSeleccionada).data();

            abrirModalProducto(data);

            $("#FormModalEgreso").modal("hide");

        })

        function abrirModalProducto(json) {
            $("#txtidprod").val(json.IdProducto);
            $("#txtnomprod").val(json.Nombre);
            $("#txtprecio").val(json.Precio);
            $("#txtcantidad").val(0);

            $("#mensajeErrorProducto").hide();

            $("#FormModalProducto").modal("show");
        }

        function SiguienteNuevo() {
            $("#mensajeError").hide();
            if ($("#cbodeposito").val() >= 1 && $("#cbomotivo").val() >= 1) {
                $("#FormModalNuevo").modal("hide");

                if ($("#cboingreso").val()==1) {
                    cargarTablaProductoIng();
                    cargarTabladataIngreso();
                    $("#FormModalIngreso").modal("show");
                    $("#mensajeErrorIngreso").hide();
                }
                else {
                    cargarTablaProductoEg();
                    cargarTabladataEgreso();
                    $("#FormModalEgreso").modal("show");
                    $("#mensajeErrorEgreso").hide();
                }
            }
            else {
                $("#mensajeErrorNuevo").text("Seleccione depósito y motivo");
                $("#mensajeErrorNuevo").show();
            }
        }

        function CancelarNuevo() {
            $("#cbomotivo").val($("#cbomotivo option:first").val());
            $("#cbodeposito").val($("#cbodeposito option:first").val());
        }

        function AceptarCantidad() {
            $("#mensajeErrorProducto").hide();
            if (parseInt($("#txtcantidad").val()) > 0 && parseInt($("#txtprecio").val()) > 0) {

                var Producto = {
                    IdProducto: $("#txtidprod").val(),
                    Nombre: $("#txtnomprod").val(),
                    Precio: $("#txtprecio").val(),
                    Cantidad: $("#txtcantidad").val()
                }
                $("#FormModalProducto").modal("hide");
                if ($("#cboingreso").val() == 1) {
                    $("#FormModalIngreso").modal("show");
                    tabladataProductoIng.row.add(Producto).draw(false);
                }
                else {
                    $("#FormModalEgreso").modal("show");
                    tabladataProductoEg.row.add(Producto).draw(false);
                }
            }
            else {
                $("#mensajeErrorProd").text("Cantidad y precio no pueden ser cero");
                $("#mensajeErrorProd").show();
            }
        }

        function CancelarProducto() {
            $("#mensajeErrorProducto").hide();
        }

        function CerrarEgreso() {
            tabladataEgreso.destroy();
            tabladataProductoEg.destroy();
            $("#cbosede").val($("#cbosede option:first").val());
            $("#cbodeposito").val($("#cbodeposito option:first").val());
        }

        function CerrarIngreso() {
            tabladataEgreso.destroy();
            tabladataProductoEg.destroy();
            $("#cbosede").val($("#cbosede option:first").val());
            $("#cbodeposito").val($("#cbodeposito option:first").val());
        }

        function CerrarVer() {
            tabladataVer.destroy();
        }

        function Registrar() {
            $("#mensajeErrorIngreso").hide();
            $("#mensajeErrorEgreso").hide();

            var Movimiento = {
                oMotivoMovimiento: {
                    IdMotivoMovimiento: $("#cbomotivo option:selected").val()
                },
                Ingreso: $("#cboingreso option:selected").val(),
                oDeposito: {
                    IdDeposito: $("#cbodeposito option:selected").val()
                },
            };

            if ($("#cboingreso option:selected").val()==1) {

                if (tabladataProductoIng.data().count()) {

                swal({
                title: "Estás por registrar un nuevo movimiento de stock",
                text: "Verificá los datos ingresados. Estos no podrán ser modificados luego.",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: true
                },
                function () {

                    jQuery.ajax({
                        url: '@Url.Action("RegistrarMovimiento", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ movimiento: Movimiento, productos: tabladataProductoIng.rows().data() }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            $(".modal-body").LoadingOverlay("hide");

                            if (data.resultado != 0) {

                                tabladata.row.add(Movimiento).draw(false);
                                $("#FormModalIngreso").modal("hide");

                            } else {
                                $("#mensajeErrorIngreso").text(data.mensaje);
                                $("#mensajeErrorIngreso").show();
                            }
                        },
                        error: function (error) {

                            $(".modal-body").LoadingOverlay("hide");
                            $("#mensajeErrorIngreso").text("Error Ajax");
                            $("#mensajeErrorIngreso").show();
                        },
                        beforeSend: function () {
                            $(".modal-body").LoadingOverlay("show", {
                                imageResizeFactor: 2,
                                text: "Cargando...",
                                size: 14
                            })
                        }
                    });

                    tabladataIngreso.destroy();
                    tabladataProductoIng.destroy();
                    $("#cbosede").val($("#cbosede option:first").val());
                    $("#cbodeposito").val($("#cbodeposito option:first").val());

                });

                }
            else {
                $("#mensajeErrorAgregar").text('La tabla con productos no puede estar vacía');
                $("#mensajeErrorAgregar").show();
            }

            }
            else
            {
                swal({
                title: "Estás por registrar un nuevo movimiento de stock",
                text: "Verificá los datos ingresados. Estos no podrán ser modificados luego.",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: true
                },
                function () {

                    jQuery.ajax({
                        url: '@Url.Action("RegistrarMovimiento", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ movimiento: Movimiento, productos: tabladataProductoEg.rows().data() }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            $(".modal-body").LoadingOverlay("hide");

                            if (data.resultado != 0) {

                                tabladata.row.add(Movimiento).draw(false);
                                $("#FormModalEgreso").modal("hide");

                            } else {
                                $("#mensajeErrorEgreso").text(data.mensaje);
                                $("#mensajeErrorEgreso").show();
                            }
                        },
                        error: function (error) {

                            $(".modal-body").LoadingOverlay("hide");
                            $("#mensajeErrorEgreso").text("Error Ajax");
                            $("#mensajeErrorEgreso").show();
                        },
                        beforeSend: function () {
                            $(".modal-body").LoadingOverlay("show", {
                                imageResizeFactor: 2,
                                text: "Cargando...",
                                size: 14
                            })
                        }
                    });

                    tabladataIngreso.destroy();
                    tabladataProductoIng.destroy();
                    $("#cbosede").val($("#cbosede option:first").val());
                    $("#cbodeposito").val($("#cbodeposito option:first").val());

                });
            }
        }

        $("#cbodeposito").on("change", function () {
            $("#mensajeError").hide();
        })

    </script>
    
}




