@model CapaEntidad.Pelicula
@{
    ViewBag.Title = "Detalle de película";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="container-fluid py-5">
    <div class="container" style=" padding: 40px 60px">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-3">
                <a href="@Url.Action("Index","Tienda")" class="btn w-50 text-center me-3 ml-1 my-2 d-block">
                    <i class="fas fa-angle-left"></i> Volver
                </a>
                <img class="card-img-top mb-5 mb-md-0" src="data:image/@Html.DisplayTextFor(m => m.Extension);base64,@Html.DisplayTextFor(m => m.Base64)" alt="..." />
                <div class="small mb-1">Género: @Html.DisplayTextFor(m => m.oGenero.Descripcion)</div>
                <div class="small mb-1">Clasificación: @Html.DisplayTextFor(m => m.oClasificacion.Descripcion)</div>
                <div class="small mb-1">Calificación: @Html.DisplayTextFor(m => m.Calificacion) ⭐</div>
            </div>

            <div class="col-md-9">

                <h1 class="display-5 fw-bolder m-0">@Html.DisplayTextFor(m => m.Nombre)</h1>

                <p class="lead fs-5">@Html.DisplayTextFor(m => m.Descripcion)</p>

                @* collapse *@
                <div class="collapse show" id="collapseExample">
                    <div class="card card-body fondo-negro" style="border-color: black">
                        <div class="row g-1">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="cbosede" class="form-label text-white">SEDE</label>
                                    <select id="cbosede" class="form-select btn-negro color-gris">
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="cboidioma" class="form-label text-white">IDIOMA</label>
                                    <select id="cboidioma" class="form-select btn-negro color-gris">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="cbofecha" class="form-label text-white">FECHA</label>
                                    <select id="cbofecha" class="form-select btn-negro color-gris">
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="cbohora" class="form-label text-white">HORA</label>
                                    <select id="cbohora" class="form-select btn-negro color-gris">
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="d-flex justify-content-center">

                            @if (Session["Cliente"] != null)
                            {

                                <button class="btn btn-primary agregarcarrito flex-shink-0 w-50" type="button" id="btnsiguiente"
                                        data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-arrow-circle-down"></i> Siguiente
                                </button>
                            }
                            @if (Session["Cliente"] == null)
                            {
                                <a class="tip" href="@Url.Action("Index", "Acceso")"> Iniciá sesión para comprar esta película</a>
                            }
                        </div>
                    </div>
                </div>

                <div class="collapse" id="collapseExample2">
                    <div class="card card-body fondo-negro" style="border-color: black">
                        <p class="lead fs-5 font-weight-bold" id="txtpreciodelaentrada">ENTRADA</p>
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <label for="quantity" class="form-label text-white">CANTIDAD</label>
                                <div class="input-group mb-3">
                                    <button class="quantity-left-minus btn btn-outline-secondary" type="button" id="button-addon1"><i class="fas fa-minus"></i></button>
                                    <input type="text" class="form-control btn-negro" placeholder="" aria-label="Cantidad de entradas" aria-describedby="button-addon1" id="quantity" name="quantity" value="1" min="1" max="10">
                                    <button class="quantity-right-plus btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-6 d-flex justify-content-center">
                                <button class="btn btn-primary agregarcarrito w-50" type="button" id="btncomprar"
                                        data-bs-toggle="collapse" onclick="Comprar()" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-arrow-alt-circle-right"></i> Elegir asientos
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@if (Session["Cliente"] != null)
{
    <script>
        document.getElementById('btnsiguiente').disabled = true;
    </script>
}

@section scripts{
    <script>

        $(document).ready(function () {

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {
                e.preventDefault();
                var quantity = parseInt($('#quantity').val());
                if (quantity <10) {
                    $('#quantity').val(quantity + 1);
                }

            });

            $('.quantity-left-minus').click(function (e) {
                e.preventDefault();
                var quantity = parseInt($('#quantity').val());
                if (quantity > 0) {
                    $('#quantity').val(quantity - 1);
                }
            });

        });

        $("#btnsiguiente").on("click", function () {
            
            jQuery.ajax({
                url: '@Url.Action("ObtenerFuncion", "Tienda")',
                type: "POST",
                data: JSON.stringify({ IdFuncion: $("#cbohora option:selected").val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.lista != null) {

                        $.each(data.lista, function (i, item) {

                            document.getElementById('txtpreciodelaentrada').innerHTML = 'Precio: $' + item.Precio;
                        })
                    }
                }
            })

            $("#collapseExample2").addClass('show')
        });

    $("#cbohora").on("change", function () {
        if ($("#cbohora").val() != 0) {
            document.getElementById('btnsiguiente').disabled = false;
        }
    });

    $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbosede");


    jQuery.ajax({
        url: '@Url.Action("ObtenerSedesActivas", "Tienda")',
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {

            if (data.lista != null) {

                $.each(data.lista, function (i, item) {

                    $("<option>").attr({ "value": item.IdSede }).text(item.Nombre).appendTo("#cbosede")
                })
                ListarFechas();
            }
        }
    })

    function ListarFechas() {

        $("#cbofecha").html("")

        $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbofecha")

        jQuery.ajax({
            url: '@Url.Action("ObtenerFechas", "Tienda")',
            type: "POST",
            data: JSON.stringify({ IdPelicula: @Html.DisplayTextFor(m => m.IdPelicula) }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.lista != null) {

                    $.each(data.lista, function (i, item) {

                        $("<option>").attr({ "value": item }).text(item).appendTo("#cbofecha")
                    })
                    ListarIdioma();
                }
            }
        })

    }

    $("#cbofecha").on("change", function () {
        ListarIdioma();
    })

    function ListarIdioma() {

        $("#cboidioma").html("")

        $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboidioma")

        jQuery.ajax({
            url: '@Url.Action("ObtenerIdiomasXFuncion", "Tienda")',
            type: "POST",
            data: JSON.stringify({ IdPelicula: @Html.DisplayTextFor(m => m.IdPelicula), Fecha: $("#cbofecha option:selected").val() }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $.each(data.data, function (index, item) {

                    $("<option>").attr({ "value": item.IdIdioma }).text(item.Descripcion).appendTo("#cboidioma");
                })
                ListarHoras();
            },
            error: function (error) {
                console.log(error)
            }
        })

    }

    $("#cboidioma").on("change", function () {
        ListarHoras();
    })

    function ListarHoras() {

        $("#cbohora").html("")

        $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbohora")

        jQuery.ajax({
            url: '@Url.Action("ObtenerHorasFuncion", "Tienda")',
            type: "POST",
            data: JSON.stringify({ IdPelicula: @Html.DisplayTextFor(m => m.IdPelicula), Fecha: $("#cbofecha option:selected").val(), IdIdioma: $("#cboidioma option:selected").val() }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.lista != null) {

                    $.each(data.lista, function (i, item) {

                        $("<option>").attr({ "value": item.IdFuncion }).text(item.Hora).appendTo("#cbohora")
                    })
                }
            }
        })
    }

        function Comprar() {


        jQuery.ajax({
                url: '@Url.Action("AbrirButacas","Tienda")',
                type: "POST",
                data: JSON.stringify({ idfuncion: $("#cbohora option:selected").val(), cantidad: $("#quantity").val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.Status) {

                        window.location.href = data.Link;

                    } else {

                        swal("", "Error al procesar datos de función. No se puede acceder a las butacas", "warning");
                    }
                },
            });

    }

    </script>

}