@model CapaEntidad.Pelicula
@{
    ViewBag.Title = "Detalle de película";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="container-fluid py-5">
    <div class="container" style=" padding: 40px 60px">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-3">
                <a href="@Url.Action("Index","Tienda")" class="btn w-50 text-center me-3 ml-1 my-2 d-block">
                    <i class="fas fa-angle-left"></i> Volver
                </a>
                <img class="card-img-top mb-5 mb-md-0" src="data:image/@Html.DisplayTextFor(m => m.Extension);base64,@Html.DisplayTextFor(m => m.Base64)" alt="..." />
                <div class="small mb-1">Género: @Html.DisplayTextFor(m => m.oGenero.Descripcion)</div>
                <div class="small mb-1">Clasificación: @Html.DisplayTextFor(m => m.oClasificacion.Descripcion)</div>
                <div class="small mb-1">Calificación: @Html.DisplayTextFor(m => m.Calificacion) ⭐</div>
            </div>
            <div class="col-md-9">

                <h1 class="display-5 fw-bolder m-0">@Html.DisplayTextFor(m => m.Nombre)</h1>

                <p class="lead fs-5">@Html.DisplayTextFor(m => m.Descripcion)</p>

                <div id="contenedor_dias" class="my-2 d-flex">
                    <button class="btn btn-negro color-gris mr-1 btn-dia" onclick="ClickDia(this)" value="1">LUN 31/10</button>
                    <button class="btn btn-negro color-gris mr-1 btn-dia" onclick="ClickDia(this)" value="2">MAR 01/11</button>
                    <button class="btn btn-negro color-gris mr-1 btn-dia" onclick="ClickDia(this)" value="3">MIER/02/11</button>
                </div>
                <input id="txtid" type="hidden" value="0" />
                <div id="contenedor_funciones" class="d-none">
                    <hr class="color-gris" />
                    <div class="my-2">
                        <p>
                            <button class="btn btn-negro color-gris btn-idoma" value="1" onclick="ClickIdioma(this)">
                                3D castellano
                            </button>
                            <button class="btn btn-negro color-gris btn-idoma" value="2" onclick="ClickIdioma(this)">
                                3D subtitulado
                            </button>
                            <button class="btn btn-negro color-gris btn-idoma" value="3" onclick="ClickIdioma(this)">
                                2D castellano
                            </button>
                            <button class="btn btn-negro color-gris btn-idoma" value="4" onclick="ClickIdioma(this)">
                                2D subtitulado
                            </button>
                        </p>
                        <div id="collapseExample">
                            <div class="card card-body fondo-gris" id="contenedor_horas">
                                Seleccione un idioma para ver las funciones disponibles.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex">

                    @if (Session["Cliente"] != null)
                    {

                        <button class="btn btn-primary agregarcarrito flex-shink-0 w-50" type="button" data-idproducto="@Html.DisplayTextFor(m => m.IdPelicula)" id="btncomprar">
                            <i class="fas fa-cart-plus"></i> Comprar
                        </button>
                    }
                    @if (Session["Cliente"] == null)
                    {
                        <a class="tip" href="@Url.Action("Index", "Acceso")"> Iniciá sesión para comprar esta película</a>
                    }
                </div>

            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>

        document.getElementById('btncomprar').disabled = true;

        function ClickDia(btn) {
            $(".btn-dia").removeClass('active')
            $(btn).addClass('active')
            $('#contenedor_funciones').removeClass('d-none')
        };

        function ClickIdioma(btn) {
            $(".btn-idoma").removeClass('active')
            $(btn).addClass('active')

            $('#contenedor_dias .active').each(function () {
                act = $(this).attr('value');
            });

            jQuery.ajax({
                url: "@Url.Action("ListarFuncionesTienda", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idfecha: act, ididioma: $(btn).val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_horas").html("");
                    $("#contenedor_horas").LoadingOverlay("hide", {
                        background: "rgba(28,28,28, 0.5)",
                        imageColor: "#ffffff"
                    });

                    $.each(response.data, function (i, element) {

                        $("<div>").addClass("col mb-5").append(

                        ).appendTo("#contenedor_horas")

                    })
                },
                beforeSend: function () {
                    $("#contenedor_producto").LoadingOverlay("show", {
                        background: "rgba(28,28,28, 0.5)",
                        imageColor: "black"
                    });
                }
            })
        };

         $(document).on("click", "button.agregarcarrito", function () {

            console.log($(this).data("idproducto"))

            jQuery.ajax({
                url: '@Url.Action("AgregarCarrito", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {

                        MostrarCantidadCarrito();

                        @*swal({
                            title: "Agregado al carrito",
                            text: "¿Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {

                            window.location.href = '@Url.Action("Carrito","Tienda")'

                        })*@
                        swal("", "Agregado al carrito", "success");

                    } else {
                        swal("", data.mensaje, "warning");
                    }
                }

            });

        })

    </script>
    
    }