<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Images/faviconAdmin.png" />
    <title>@ViewBag.Title (Admin) - Fun House</title>

    @Styles.Render("~/Content/css")
    <link href="~/Content/extras.css" rel="stylesheet">
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark px-4">
        <!-- Navbar Brand-->
        <img src="~/Images/LogoNavBarOscuro.png" />


        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Acceso")">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu navbar-cuerppo-padding">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading navbar-link-padding">Resumen</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Tablero
                        </a>


                        <div class="sb-sidenav-menu-heading navbar-link-padding">Mantenimiento</div>
                        <a class="nav-link" href="@Url.Action("Usuarios","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Usuarios
                        </a>
                        <a class="nav-link" href="@Url.Action("Clientes","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-smile"></i></div>
                            Clientes
                        </a>
                        <a class="nav-link" href="@Url.Action("Proveedores","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-dolly"></i></div>
                            Proveedores
                        </a>
                        <a class="nav-link" href="@Url.Action("Sedes","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-map-pin"></i></div>
                            Sedes
                        </a>


                        <div class="sb-sidenav-menu-heading navbar-link-padding" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Stock <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body card-bg-expand">
                                <a class="nav-link" href="@Url.Action("Movimientos","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                                    Movimientos de stock
                                </a>
                                <a class="nav-link" href="@Url.Action("Deposito","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>
                                    Depósitos
                                </a>
                                <a class="nav-link" href="@Url.Action("Producto","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                                    Artículos
                                </a>
                                <a class="nav-link" href="@Url.Action("Categoria","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Categorías
                                </a>
                                <a class="nav-link" href="@Url.Action("Marca","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                                    Marcas
                                </a>
                            </div>
                        </div>

                        <div class="sb-sidenav-menu-heading navbar-link-padding" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Compras <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body card-bg-expand">
                                <a class="nav-link" href="@Url.Action("FacturasCompra","Compras")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                                    Facturas
                                </a>
                                <a class="nav-link" href="@Url.Action("NotasCompra","Compras")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-money-bill"></i></div>
                                    Notas
                                </a>
                            </div>
                        </div>

                        <div class="sb-sidenav-menu-heading navbar-link-padding" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Ventas <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="collapseExample3">
                            <div class="card card-body card-bg-expand">
                                <a class="nav-link" href="@Url.Action("FacturasVenta","Ventas")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                                    Facturas
                                </a>
                                <a class="nav-link" href="@Url.Action("NotasVenta","Ventas")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-money-bill"></i></div>
                                    Notas
                                </a>
                            </div>
                        </div>

                        <div class="sb-sidenav-menu-heading navbar-link-padding" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Peliculas <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="collapse" id="collapseExample4">
                            <div class="card card-body card-bg-expand">
                                <a class="nav-link" href="@Url.Action("Peliculas","Peliculas")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-film"></i></div>
                                    Peliculas
                                </a>
                                <a class="nav-link" href="@Url.Action("Funciones","Peliculas")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-video me-1"></i></div>
                                    Funciones
                                </a>
                                <a class="nav-link" href="@Url.Action("Salas","Peliculas")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chair me-1"></i></div>
                                    Salas
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="bg-gris">
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>

            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-gris mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Sistemas III - 2022 <i class="fas fa-bolt"></i> Fernandez Zavalía, Díaz, Dagum, Valdez Kao</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
